* {
  /* Overriding browser defaults */
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  background: url("freedom.jpg");
  padding: 30px;

  height: 528px;
  width: 100%;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}
.main-plan__card {
   width: 80%;
   margin: auto;
   text-align: center;

}
.main-plan__card ul {
  list-style: none;
  padding: 2px;
  margin: 0;
}

.main-plan__card li {
  margin: 4px 0;
}

.plan {
  background-color: rgb(155, 223, 88);
  text-align: center;
  padding: 15px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  border-radius: 10px;

  /* makes anything aligns in the straight middle */
  vertical-align: middle;
}

.plan--highlight {
  background-color: rgb(28, 148, 28);
  color: white;

  /* X, Y, blur, spread , color */
  box-shadow: 2px 2px 20px 5px rgba(75, 69, 54, 0.479);
}

.plan__head {
  background: white;
  color: #1c941c;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px rgba(75, 69, 54, 0.479);
  border-radius: 10px;
}

.plan h1 {
  color: #1c941c;
}

.plan h2 {
  color: #535f53;
}

.plan--highlight .plan__title {
  color: white;
}

.plan--highlight h2 {
  color: white;
}


/* h1 {
    font-family: sans-serif;
} */

#host-feature {
  background: rgb(207, 21, 21);
  margin-top: 30px;
  padding: 20px;
}

#host-feature .section-title {
  color: #d5dfd8;
  margin: 30px;
}

.host__image {
  background:rgb(155, 179, 155);
  width: 130px;
  border: 2px solid black;
  border-radius: 50%;
  height: 130px;
  /* horizontally center the image  */
  margin: auto;
}

#host-feature ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#host-feature li {
  display: inline-block;
  padding: 0px 20px;
  width: 33%;
  text-align: center;
  vertical-align: top;
}

#host-feature p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

