* {
  /* Overriding browser defaults */
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  margin-top: 60px;
  background: url("./images/freedom.jpg") left 0% bottom 20% /cover no-repeat border-box;

  /* linear gradient - (from top to bottom or opp, or left bottom and so on also deg)direction vertical( top to bottom )  */
  /* background-image: linear-gradient(to bottom, red, rgba(44, 22, 22, 0.575)); */
   
  /* background-image: radial-gradient(circle at top left, red, rgb(214, 94, 86), rgb(192, 140, 72)); */

  /* background - url , position / size  repeat origin and clip*/
 
  /* background-image: url("freedom.jpg");
  /* cover automatically sets according to the aspect ratio 
     contain gives the full resolution but doesn't care about the white space
  */
  /* background-size: cover;
  background-repeat: no-repeat; */
  /* position - x axis (to right) y-axis( to bottom)  */
  /* background-position: left 10% bottom 60%;
  background-origin: border-box;
  background-clip: border-box; */
  padding: 30px;
  position: relative;
  height: 50vh;
  width: 100vw;
}



#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 3%;
  left: 3%;
  font-size: 1.6rem;
}

@media (min-width: 40rem ){
  #product-overview {
    height: 70vh;
    background-position: 50% 25%;
  }


  #product-overview h1 {
    font-size: 3rem;
  }
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}


.main-plan__card {
  width: 80%;
  margin: auto;
  text-align: center;
}
.main-plan__card ul {
  list-style: none;
  padding: 2px;
  margin: 0;
}

.main-plan__card li {
  margin: 4px 0;
}

.plan {
  background-color: rgb(155, 223, 88);
  text-align: center;
  padding: 15px;
  margin: 8px 0;
  display: inline-block;
  width: 100%;
  border-radius: 10px;

  /* makes anything aligns in the straight middle */
  vertical-align: middle;
}

@media (min-width: 40rem) {
  .main-plan__card {
    width: 100%;
    text-align: center;
  }

  .plan {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    min-width: 13rem;
    max-width: 25rem;
  }

  .plan--highlight {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}

.plan--highlight {
  background-color: rgb(28, 148, 28);
  color: white;

  /* X, Y, blur, spread , color */
  box-shadow: 2px 2px 20px 5px rgba(75, 69, 54, 0.479);
}

.plan__head {
  background: white;
  color: #1c941c;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px rgba(75, 69, 54, 0.479);
  border-radius: 10px;
}

.plan h1 {
  color: #1c941c;
}

.plan h2 {
  color: #535f53;
}

.plan--highlight .plan__title {
  color: white;
}

.plan--highlight h2 {
  color: white;
}

/* h1 {
    font-family: sans-serif;
} */

#host-feature {
  background: rgb(207, 21, 21);
  margin-top: 30px;
  padding: 20px;
}

@media (min-width: 40rem) {
  .host__feature{
    display: inline-block;
    width: 100%;
    max-width: 45rem;
    vertical-align: middle;
    min-width: 15rem;
  }
}



#host-feature .section-title {
  color: #d5dfd8;
  margin: 30px;
}

.host__image {
  background: rgb(155, 179, 155);
  width: 130px;
  border: 2px solid black;
  border-radius: 50%;
  height: 130px;
  /* horizontally center the image  */
  margin: auto;
  padding: 19px;
}

#host-feature ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#host-feature li {
  display: inline-block;
  padding: 0px 20px;
  width: 33%;
  text-align: center;
  vertical-align: top;
}

#host-feature p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
}


.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
  
}

.modal-title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--no {
  background: red;
  border-color: red;
}