* {
  /* Overriding browser defaults */
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.backdrop {
  display: none;
  position: fixed;
  top:0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
}

.button {
  background: rgb(24, 90, 24);
  color: white;
  font: inherit;
  border: 1px solid rgb(52, 168, 52);
  padding: 7px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 2px;
}

.button:hover,
.button:active {
  background-color: white;
  color: #084618;
}

.button:focus {
  outline: none;
}

.main-header {
  background-color: rgb(18, 179, 152);
  padding: 14px 14px;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;

}
.main-header > div {
  display: inline-block;
  vertical-align: middle;
  
}

.toggle-button {
  display: none;
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

@media (max-width:40rem){
  .toggle-button{
    display: inline-block;
  }
}


.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 79%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.35rem 0;
}

.button[disabled] {
  cursor: not-allowed;
  background: grey;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 150px);
  vertical-align: middle;
}

@media (max-width:36.2rem) {
  .main-nav {
    display: none;
  }
}

.main-header__brand {
  list-style: none;
  color: yellow;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand img {
  height: 100%;
  margin-left: 15px;
}

.main-nav__lists {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list {
  display: inline-block;
  list-style: none;
  text-decoration: none;

  font-size: 15px;
  margin: 0 16px;
}

.main-nav__list a,
.mobile-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 0.2rem 0;
}

.main-nav__list a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__list--cta a,
.mobile-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-nav__list--cta a:hover,
.main-nav__list--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

.main-footer {
  background: rgb(0, 0, 0);
  padding: 30px;
  margin-top: 50px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  text-decoration: none;
  color: white;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: rgb(158, 166, 173);
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.open {
  display: block !important ; 
}