.pack-section {
    border: 3px solid black;
    margin-top: 15px;
    width: 80%;
    padding: 20px 30px;
    background: rgb(140, 199, 140);
}

.pack-section a {
    text-decoration: none;
}
.pack-head {
    color: black;
    font-weight: bold;
}

.pack-highlight {
    color: white;
}

